.javascripts
  if testing
    //script(src="js/libraries/jquery.full.js")
    script(src="js/libraries/vue.full.js")
  else
    script(src="js/libraries/jquery.min.js")
    script(src="js/libraries/vue.min.js")
  script(src="js/min/tips.min.js?lastUpdated="+lastUpdated)