.javascripts
  if testing
    //script(src="js/libraries/jquery.full.js")
    script(src="js/libraries/vue.full.js")
  else
    //script(src="js/libraries/jquery.min.js")
    script(src="js/libraries/vue.min.js")
    script(src="https://www.googletagmanager.com/gtag/js?id=UA-15129990-28" async)
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-15129990-28');
    
  script(src="js/libraries/dom-to-image.min.js")
  script(src="js/libraries/file-saver.min.js")
  
  
  script(src="js/min/tips.min.js?lastUpdated="+lastUpdated)