<?xml version='1.0' encoding='utf-8'?>
<widget id="tips.greatsex" version="0.0.5" versionCode="10" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>Great Sex Tips!</name>
  <description>
    He's gonna love what you do to him.
  </description>
  <author email="lemon@thefpl.us" href="https://ahoylemon.xyz">
    Lemon
  </author>
  
   <preference name="orientation" value="portrait" />
  
  <plugin name="cordova-plugin-splashscreen" source="npm" />  
  <preference name="SplashScreenDelay" value="3000" />  
  <preference name="AutoHideSplashScreen" value="true" />  
  <preference name="SplashScreen" value="www/res/screen/android" />  
  <preference name="SplashMaintainAspectRatio" value="true" />  
  
  <splash src="res/screens/android/drawable-port-mdpi-screen.png"/>  
  
  <platform name="android">
    
    <preference name="SplashScreen" value="res/screens/android/drawable-port-mdpi-screen.png" />  
    
    <icon qualifier="ldpi" src="res/icons/android/drawable-ldpi-icon.png" />
    <icon qualifier="mdpi" src="res/icons/android/drawable-mdpi-icon.png" />
    <icon qualifier="hdpi" src="res/icons/android/drawable-hdpi-icon.png" />
    <icon qualifier="xhdpi" src="res/icons/android/drawable-xhdpi-icon.png" />
    <icon qualifier="xxhdpi" src="res/icons/android/drawable-xxhdpi-icon.png" />
    <icon qualifier="xxxhdpi" src="res/icons/android/drawable-xxxhdpi-icon.png" />
    
    <splash qualifier="port-ldpi" platform="android" src="res/screens/android/drawable-port-ldpi-screen.png" />
    <splash qualifier="port-mdpi" platform="android" src="res/screens/android/drawable-port-mdpi-screen.png" />
    <splash qualifier="port-hdpi" platform="android" src="res/screens/android/drawable-port-hdpi-screen.png" />
    <splash qualifier="port-xhdpi" platform="android" src="res/screens/android/drawable-port-xhdpi-screen.png" />
    <splash qualifier="port-xxhdpi" platform="android" src="res/screens/android/drawable-port-xxhdpi-screen.png" />
    <splash qualifier="port-xxxhdpi" platform="android" src="res/screens/android/drawable-port-xxxhdpi-screen.png" />
  </platform>
  
  <platform name="ios">
    <icon height="57" platform="ios" src="res/icons/ios/icon.png" width="57" />
    <icon height="114" platform="ios" src="res/icons/ios/icon@2x.png" width="114" />
    <icon height="40" platform="ios" src="res/icons/ios/icon-40.png" width="40" />
    <icon height="80" platform="ios" src="res/icons/ios/icon-40@2x.png" width="80" />
    <icon height="50" platform="ios" src="res/icons/ios/icon-50.png" width="50" />
    <icon height="100" platform="ios" src="res/icons/ios/icon-50@2x.png" width="100" />
    <icon height="60" platform="ios" src="res/icons/ios/icon-60.png" width="60" />
    <icon height="120" platform="ios" src="res/icons/ios/icon-60@2x.png" width="120" />
    <icon height="180" platform="ios" src="res/icons/ios/icon-60@3x.png" width="180" />
    <icon height="72" platform="ios" src="res/icons/ios/icon-72.png" width="72" />
    <icon height="144" platform="ios" src="res/icons/ios/icon-72@2x.png" width="144" />
    <icon height="76" platform="ios" src="res/icons/ios/icon-76.png" width="76" />
    <icon height="152" platform="ios" src="res/icons/ios/icon-76@2x.png" width="152" />
    <icon height="29" platform="ios" src="res/icons/ios/icon-small.png" width="29" />
    <icon height="58" platform="ios" src="res/icons/ios/icon-small@2x.png" width="58" />
    <icon height="87" platform="ios" src="res/icons/ios/icon-small@3x.png" width="87" />
    
    <splash height="1136" platform="ios" src="res/screens/ios/Default-568h@2x~iphone.png" width="640" />
    <splash height="1334" platform="ios" src="res/screens/ios/Default-667h.png" width="750" />
    <splash height="2208" platform="ios" src="res/screens/ios/Default-736h.png" width="1242" />
    <splash height="1242" platform="ios" src="res/screens/ios/Default-Landscape-736h.png" width="2208" />
    <splash height="1536" platform="ios" src="res/screens/ios/Default-Landscape@2x~ipad.png" width="2048" />
    <splash height="768" platform="ios" src="res/screens/ios/Default-Landscape~ipad.png" width="1024" />
    <splash height="2048" platform="ios" src="res/screens/ios/Default-Portrait@2x~ipad.png" width="1536" />
    <splash height="1024" platform="ios" src="res/screens/ios/Default-Portrait~ipad.png" width="768" />
    <splash height="960" platform="ios" src="res/screens/ios/Default@2x~iphone.png" width="640" />
    <splash height="480" platform="ios" src="res/screens/ios/Default~iphone.png" width="320" />
    
  </platform>
  
  <preference name="android-minSdkVersion" value="20" />
  <platform name="winphone" />
  <access origin="*" />
  <allow-intent href="*" />
  <allow-navigation href="*" />
  <engine name="ios" spec="^4.4.0" />
  <engine name="android" spec="^6.3.0" />
  
  <plugin name="cordova-plugin-dialogs" spec="~1.2.0" />
  <plugin name="cordova-plugin-file" spec="^4.3.3" />
  <plugin name="cordova-plugin-globalization" spec="~1.0.3" />
  <plugin name="cordova-plugin-whitelist" spec="~1.2.1" />
  
</widget>
