<?xml version='1.0' encoding='utf-8'?>
<widget id="tips.greatsex" version="0.0.5" versionCode="10" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
  <name>Great Sex Tips!</name>
  <description>
    He's gonna love what you do to him.
  </description>
  <author email="lemon@thefpl.us" href="https://ahoylemon.xyz">
    Lemon
  </author>
  
  <platform name="ios">
    <icon src="res/icons/ios/icon-1024.png" width="1024" height="1024"/>
    <icon src="res/icons/ios/icon-small.png" width="29" height="29"/>
    <icon src="res/icons/ios/icon-small@2x.png" width="58" height="58"/>
    <icon src="res/icons/ios/icon-small@3x.png" width="87" height="87"/>
    <icon src="res/icons/ios/icon-small-40.png" width="40" height="40"/>
    <icon src="res/icons/ios/icon-small-40@2x.png" width="80" height="80"/>
    <icon src="res/icons/ios/icon-small-40@3x.png" width="120" height="120"/>
    <icon src="res/icons/ios/icon-small-50.png" width="50" height="50"/>
    <icon src="res/icons/ios/icon-small-50@2x.png" width="100" height="100"/>
    <icon src="res/icons/ios/icon.png" width="57" height="57"/>
    <icon src="res/icons/ios/icon@2x.png" width="114" height="114"/>
    <icon src="res/icons/ios/icon-60.png" width="60" height="60"/>
    <icon src="res/icons/ios/icon-60@2x.png" width="120" height="120"/>
    <icon src="res/icons/ios/icon-60@3x.png" width="180" height="180"/>
    <icon src="res/icons/ios/icon-72.png" width="72" height="72"/>
    <icon src="res/icons/ios/icon-72@2x.png" width="144" height="144"/>
    <icon src="res/icons/ios/icon-76.png" width="76" height="76"/>
    <icon src="res/icons/ios/icon-76@2x.png" width="152" height="152"/>
    <icon src="res/icons/ios/icon-167.png" width="167" height="167"/>
    <icon src="res/icons/ios/icon-83.5@2x.png" width="167" height="167"/>
    <!--  Legacy portrait  -->
    <splash src="res/screens/ios/Default~iphone.png" width="320" height="480"/>
    <splash src="res/screens/ios/Default@2x~iphone.png" width="640" height="960"/>
    <splash src="res/screens/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
    <splash src="res/screens/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
    <splash src="res/screens/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
    <splash src="res/screens/ios/Default-667h.png" width="750" height="1334"/>
    <splash src="res/screens/ios/Default-736h.png" width="1242" height="2208"/>
</platform>
<platform name="android">
  <icon density="ldpi" src="res/icons/android/ldpi.png"/>
  <icon density="mdpi" src="res/icons/android/mdpi.png"/>
  <icon density="hdpi" src="res/icons/android/hdpi.png"/>
  <icon density="xhdpi" src="res/icons/android/xhdpi.png"/>
  <icon density="xxhdpi" src="res/icons/android/xxhdpi.png"/>
  <icon density="xxxhdpi" src="res/icons/android/xxxhdpi.png"/>
  <!--  Portrait  -->
  <splash density="port-ldpi" src="res/screens/android/splash-port-ldpi.png"/>
  <splash density="port-mdpi" src="res/screens/android/splash-port-mdpi.png"/>
  <splash density="port-hdpi" src="res/screens/android/splash-port-hdpi.png"/>
  <splash density="port-xhdpi" src="res/screens/android/splash-port-xhdpi.png"/>
  <splash density="port-xxhdpi" src="res/screens/android/splash-port-xxhdpi.png"/>
  <splash density="port-xxxhdpi" src="res/screens/android/splash-port-xxxhdpi.png"/>
</platform>
  
  
  <preference name="android-minSdkVersion" value="20" />
  <platform name="winphone" />
  <access origin="*" />
  <allow-intent href="*" />
  <allow-navigation href="*" />
  <engine name="ios" spec="^4.4.0" />
  <engine name="android" spec="^6.3.0" />
  
  <plugin name="cordova-plugin-dialogs" spec="~1.2.0" />
  <plugin name="cordova-plugin-file" spec="^4.3.3" />
  <plugin name="cordova-plugin-globalization" spec="~1.0.3" />
  <plugin name="cordova-plugin-splashscreen" spec="~3.2.1" />
  <plugin name="cordova-plugin-whitelist" spec="~1.2.1" />
  <plugin name="cordova-plugin-inappbrowser" spec="^1.7.1" />
  
</widget>
