<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Great Sex Tips!</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="🍆+🍑=🌟">
    <meta http-equiv="last-modified" content="2017-10-13@17:53:47">
    <link href="css/tips.css?lastUpdated=2017-10-13@17:53:47" rel="stylesheet">
    <!-- Twitter-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@AhoyLemon">
    <meta name="twitter:title" content="Great Sex Tips!">
    <meta name="twitter:description" content="🍆+🍑=🌟">
    <meta name="twitter:image" content="https://greatsex.tips/img/og-wide.jpg">
    <meta name="twitter:url" content="https://greatsex.tips">
    <!-- OpenGraph-->
    <meta property="og:title" content="Great Sex Tips!">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://greatsex.tips">
    <meta property="og:image" content="https://greatsex.tips/img/og-wide.jpg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:description" content="🍆+🍑=🌟">
    <meta property="og:email" content="lemon@thefpl.us">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="194x194" href="/favicon-194x194.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ee2a2a">
    <meta name="msapplication-TileColor" content="#ee2a2a">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ee2a2a">
  </head>
  <body>
    <div id="app">
      <!--figure.fullpic.secondary(v-bind:style="secondaryImage" v-bind:class="{visible:secondaryImage}")  -->
      <div class="fullpic">
        <figure class="primary" style="background-image:url(img/bg-offline.jpg);"></figure>
      </div>
      <button class="sidebar-button" v-on:click="toggleDrawer" v-bind:class=" {active: sidebarVisible} " aria-label="Open Sidebar">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
          <circle class="fill" cx="50.6" cy="49.7" r="42"></circle>
          <path class="outline" d="M50 96C24.6 96 4 75.4 4 50S24.6 4 50 4s46 20.6 46 46-20.6 46-46 46zm0-86.2C27.8 9.8 9.8 27.8 9.8 50s18 40.3 40.2 40.3S90.3 72.2 90.3 50 72.2 9.8 50 9.8z"></path>
          <path class="question-mark" d="M47.6 58.9c-.6-.7-.9-1.6-.9-2.8 0-2.4.4-4.3 1.3-5.9.9-1.6 2.1-3.3 3.8-5.2 1.2-1.4 2.2-2.6 2.7-3.6.6-.9.9-2 .9-3.2 0-1.3-.5-2.3-1.4-3.1-1-.7-2.3-1.1-3.9-1.1-1.5 0-2.9.3-4.1.9-1.3.6-3 1.5-5.1 2.8-1.3.7-2.4 1.1-3.3 1.1-1 0-1.8-.4-2.5-1.3s-1-1.9-1-3.1c0-.8.1-1.5.5-2.1.3-.6.8-1.1 1.4-1.6 2-1.6 4.4-2.9 7-3.8 2.7-.9 5.3-1.4 8-1.4 2.9 0 5.4.5 7.7 1.5s4.1 2.4 5.3 4.2c1.3 1.8 1.9 3.8 1.9 6 0 1.7-.3 3.3-1 4.7-.7 1.4-1.5 2.6-2.4 3.7-.9 1-2.2 2.3-3.7 3.8-1.8 1.6-3.1 3-4 4.1-.9 1.1-1.4 2.3-1.7 3.6-.2.9-.6 1.6-1.1 2-.6.5-1.3.7-2.1.7-1 .1-1.8-.2-2.3-.9zm-1.7 14.8c-1.1-1.1-1.7-2.6-1.7-4.3 0-1.7.6-3.1 1.7-4.3s2.5-1.7 4.2-1.7c1.7 0 3 .6 4.2 1.7 1.1 1.1 1.7 2.6 1.7 4.3 0 1.7-.6 3.1-1.7 4.3-1.1 1.1-2.5 1.7-4.2 1.7-1.7 0-3.1-.5-4.2-1.7z"></path>
          <path class="x" d="M70.3 69c0 1.3-.5 2.4-1.5 3.3-1 .9-2.1 1.4-3.4 1.4-1.3 0-2.4-.6-3.4-1.7L49.6 56.9 37 72.1c-1 1.1-2.1 1.7-3.4 1.7-1.2 0-2.3-.5-3.3-1.4-1-.9-1.5-2.1-1.5-3.3 0-1.1.4-2.1 1.2-3L43.5 50l-13-15.8c-.8-1-1.3-2-1.3-3 0-1.3.5-2.4 1.5-3.3 1-.9 2.1-1.4 3.3-1.4 1.3 0 2.5.6 3.4 1.7l12.1 14.6 12-14.6c1-1.1 2.1-1.7 3.4-1.7 1.2 0 2.3.5 3.3 1.4 1 .9 1.5 2.1 1.5 3.3 0 1.1-.4 2.1-1.2 3l-13 15.6L69 65.9c.9 1 1.3 2 1.3 3.1z"></path>
        </svg>
      </button>
      <div class="sidebar" v-bind:class=" {visible: sidebarVisible} ">
        <ul>
          <li><span class="label">This site is</span><span class="indent"><span>by </span><a href="http://ahoylemon.xyz" target="_blank" rel="noopener" onclick="sendEvent('outside link', 'site by Lemon', 'http://ahoylemon.xyz')">Lemon</a></span></li>
          <li><span class="label">With help from</span><span class="indent"><a href="https://twitter.com/AberrantWhimsy" target="_blank" rel="noopener" onclick="sendEvent('outside link', 'Sanguinary Novel', 'https://twitter.com/AberrantWhimsy')">Sanguinary Novel</a></span><span class="indent"><span>and </span><a href="https://thefpl.us/meet/boots-raingear" target="_blank" rel="noopener" onclick="sendEvent('outside link', 'Boots Raingear', 'https://thefpl.us/meet/boots-raingear')">Boots Raingear</a></span></li>
          <li><span class="label">Thoughts?</span><span class="indent"><a href="https://goo.gl/forms/e1fJU67sQdC3BIrn1" rel="noopener" target="_blank">Let us know</a></span></li>
          <li id="AddToHomeScreen" v-if="device"><span class="label">By the way, you should</span><span class="indent"> <a v-on:click="addToHomescreen = true"><span v-if="(device == 'android') || (device == 'ios')">add to home screen</span><span v-else-if="(browser == 'ie') || (browser == 'edge')">pin to start</span><span v-else-if="device == 'chrome'">add to shelf</span><span v-else-if="browser == 'chrome'">add to desktop</span><span v-else-if="(device == 'mac') || (browser == 'firefox') || (browser == 'opera') || (browser == 'vivaldi')">bookmark this</span></a></span></li>
        </ul>
      </div>
      <div class="homescreen-help-holder" v-cloak v-if="addToHomescreen">
        <div class="homescreen-help">
          <div class="help android-help" v-if="device == 'android'"><span>Tap the 
              <svg class="kebab" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <circle cx="53.6" cy="13.1" r="11.4"></circle>
                <circle cx="53.6" cy="49.8" r="11.4"></circle>
                <circle cx="53.6" cy="86.5" r="11.4"></circle>
              </svg> icon up there 
              <svg class="arrow arrow-up" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <path d="M89.5 41.1L54.9 3c-1.4-1.6-3.9-1.6-5.3 0L15 41c-2.3 2.6 0 6.6 3.4 5.9l21-4.2v50.4c0 2 1.6 3.6 3.6 3.6h18.2c2 0 3.6-1.6 3.6-3.6V42.7l21.5 4.2c3.2.9 5.5-3.3 3.2-5.8z"></path>
              </svg></span><span>Then choose <b>Add to Home Screen</b></span></div>
          <div class="help ios-help" v-else-if="device == 'ios'"><span>Tap the
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <path d="M41.7 18.1l9.5-9.5v52c0 1.3.9 2.2 2.2 2.2 1.3 0 2.2-.9 2.2-2.2v-52l9.5 9.5c.4.4.9.7 1.5.7.7 0 1.1-.2 1.5-.7.9-.9.9-2.2 0-3.1L54.9 1.8c-.2-.2-.4-.4-.7-.4-.4-.2-1.1-.2-1.8 0-.2.2-.4.2-.7.4L38.6 15c-.9.9-.9 2.2 0 3.1.9.9 2.2.9 3.1 0zm42.5 9.5H66.6V32h17.6v61.7H22.5V32h17.6v-4.4H22.5c-2.4 0-4.4 2-4.4 4.4v61.7c0 2.4 2 4.4 4.4 4.4h61.7c2.4 0 4.4-2 4.4-4.4V32c0-2.4-2-4.4-4.4-4.4z"></path>
              </svg> icon below.</span><span>Then choose <b>Add To Home Screen</b></span></div>
          <div class="help chrome-help" v-else-if="(browser == 'chrome')"><span v-if="device == 'mac'">Tap the 
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <path d="M72.3 86.138c1.5-.2 2.6-1.6 2.4-3.2v-.1l-3.6-22 15.7-15.7c1.1-1.1 1.1-2.9 0-4-.4-.4-1-.7-1.6-.8l-21.8-3.4-9.9-19.9c-.7-1.4-2.4-2-3.8-1.3-.5.3-1 .7-1.2 1.3l-9.9 19.9-21.8 3.4c-1.5.2-2.6 1.7-2.3 3.2.1.6.4 1.1.8 1.6l15.7 15.7-3.6 22c-.3 1.5.8 3 2.3 3.3.6.1 1.2 0 1.8-.3l19.6-10.2 19.6 10.2c.4.2 1 .3 1.6.3zm-4-8l-15.9-8.3c-.8-.4-1.8-.4-2.6 0l-15.9 8.3 2.9-17.8c.1-.9-.2-1.8-.8-2.5l-12.8-12.7 17.7-2.7c.9-.1 1.7-.7 2.1-1.5l8.1-16.2 8.1 16.2c.4.8 1.2 1.4 2.1 1.5l17.7 2.7-12.8 12.7c-.6.6-.9 1.6-.8 2.5-.1 0 2.9 17.8 2.9 17.8z"></path>
              </svg> icon.</span><span v-else>Tap the 
              <svg class="kebab" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <circle cx="53.6" cy="13.1" r="11.4"></circle>
                <circle cx="53.6" cy="49.8" r="11.4"></circle>
                <circle cx="53.6" cy="86.5" r="11.4"></circle>
              </svg> up there. 
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <path d="M89.5 41.1L54.9 3c-1.4-1.6-3.9-1.6-5.3 0L15 41c-2.3 2.6 0 6.6 3.4 5.9l21-4.2v50.4c0 2 1.6 3.6 3.6 3.6h18.2c2 0 3.6-1.6 3.6-3.6V42.7l21.5 4.2c3.2.9 5.5-3.3 3.2-5.8z"></path>
              </svg></span><span v-if="device == 'windows'">Then choose <b>More tools</b> and <b>Add to desktop</b></span><span v-if="device == 'chrome'">Then choose <b>More tools </b>and <b>Add to shelf</b></span></div>
          <div class="help safari-help" v-else-if="browser == 'safari'"><span> 
              <svg class="arrow arrow-up" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <path d="M89.5 41.1L54.9 3c-1.4-1.6-3.9-1.6-5.3 0L15 41c-2.3 2.6 0 6.6 3.4 5.9l21-4.2v50.4c0 2 1.6 3.6 3.6 3.6h18.2c2 0 3.6-1.6 3.6-3.6V42.7l21.5 4.2c3.2.9 5.5-3.3 3.2-5.8z"></path>
              </svg> Tap the
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <path d="M41.7 18.1l9.5-9.5v52c0 1.3.9 2.2 2.2 2.2 1.3 0 2.2-.9 2.2-2.2v-52l9.5 9.5c.4.4.9.7 1.5.7.7 0 1.1-.2 1.5-.7.9-.9.9-2.2 0-3.1L54.9 1.8c-.2-.2-.4-.4-.7-.4-.4-.2-1.1-.2-1.8 0-.2.2-.4.2-.7.4L38.6 15c-.9.9-.9 2.2 0 3.1.9.9 2.2.9 3.1 0zm42.5 9.5H66.6V32h17.6v61.7H22.5V32h17.6v-4.4H22.5c-2.4 0-4.4 2-4.4 4.4v61.7c0 2.4 2 4.4 4.4 4.4h61.7c2.4 0 4.4-2 4.4-4.4V32c0-2.4-2-4.4-4.4-4.4z"></path>
              </svg> icon. </span><span>Then <b>Add Bookmark</b>.</span></div>
          <div class="help edge-help" v-else-if="browser == 'edge'"><span>Tap the 
              <svg xmlns="http://www.w3.org/2000/svg" width="96.1" height="22.8" viewBox="0 0 96.1 22.8">
                <circle cx="84.7" cy="11.4" r="11.4"></circle>
                <circle cx="48.1" cy="11.4" r="11.4"></circle>
                <circle cx="11.4" cy="11.4" r="11.4"></circle>
              </svg> icon up here 
              <svg class="arrow arrow-up" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <path d="M89.5 41.1L54.9 3c-1.4-1.6-3.9-1.6-5.3 0L15 41c-2.3 2.6 0 6.6 3.4 5.9l21-4.2v50.4c0 2 1.6 3.6 3.6 3.6h18.2c2 0 3.6-1.6 3.6-3.6V42.7l21.5 4.2c3.2.9 5.5-3.3 3.2-5.8z"></path>
              </svg></span><span>Then choose <b>Pin this page to start.</b></span></div>
          <div class="help firefox-help" v-else-if="browser == 'firefox'"><span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <path d="M89.5 41.1L54.9 3c-1.4-1.6-3.9-1.6-5.3 0L15 41c-2.3 2.6 0 6.6 3.4 5.9l21-4.2v50.4c0 2 1.6 3.6 3.6 3.6h18.2c2 0 3.6-1.6 3.6-3.6V42.7l21.5 4.2c3.2.9 5.5-3.3 3.2-5.8z"></path>
              </svg> Tap the 
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <path d="M72.3 86.138c1.5-.2 2.6-1.6 2.4-3.2v-.1l-3.6-22 15.7-15.7c1.1-1.1 1.1-2.9 0-4-.4-.4-1-.7-1.6-.8l-21.8-3.4-9.9-19.9c-.7-1.4-2.4-2-3.8-1.3-.5.3-1 .7-1.2 1.3l-9.9 19.9-21.8 3.4c-1.5.2-2.6 1.7-2.3 3.2.1.6.4 1.1.8 1.6l15.7 15.7-3.6 22c-.3 1.5.8 3 2.3 3.3.6.1 1.2 0 1.8-.3l19.6-10.2 19.6 10.2c.4.2 1 .3 1.6.3zm-4-8l-15.9-8.3c-.8-.4-1.8-.4-2.6 0l-15.9 8.3 2.9-17.8c.1-.9-.2-1.8-.8-2.5l-12.8-12.7 17.7-2.7c.9-.1 1.7-.7 2.1-1.5l8.1-16.2 8.1 16.2c.4.8 1.2 1.4 2.1 1.5l17.7 2.7-12.8 12.7c-.6.6-.9 1.6-.8 2.5-.1 0 2.9 17.8 2.9 17.8z"></path>
              </svg> icon in the address bar.</span></div>
          <div class="help opera-help" v-else-if="browser == 'opera'"><span>
              <svg class="arrow arrow-up" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <path d="M89.5 41.1L54.9 3c-1.4-1.6-3.9-1.6-5.3 0L15 41c-2.3 2.6 0 6.6 3.4 5.9l21-4.2v50.4c0 2 1.6 3.6 3.6 3.6h18.2c2 0 3.6-1.6 3.6-3.6V42.7l21.5 4.2c3.2.9 5.5-3.3 3.2-5.8z"></path>
              </svg> Tap the 
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <path d="M65.6 22.2c-5.1 0-10.3 1.9-14.1 5.8-3.9-3.9-9-5.8-14.1-5.8S27.2 24.1 23.3 28c-7.8 7.8-7.8 20.5 0 28.3l28.2 28.3 28.3-28.3c3.9-3.9 5.8-9 5.8-14.1S83.7 32 79.8 28.1c-3.9-4-9-5.9-14.2-5.9zm9.9 29.9l-24 24-24-24c-2.6-2.6-4.1-6.1-4.1-9.9 0-3.8 1.4-7.3 4.1-9.9 2.6-2.6 6.1-4.1 9.9-4.1 3.8 0 7.3 1.4 9.9 4.1l4.2 4.3 4.2-4.2c2.6-2.6 6.1-4.1 9.9-4.1s7.3 1.4 9.9 4.1c2.6 2.6 4.1 6.1 4.1 9.9s-1.4 7.1-4.1 9.8z"></path>
              </svg> icon up there </span></div>
          <div class="help vivaldi-help" v-else-if="browser == 'vivaldi'"><span>
              <svg class="arrow arrow-up" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                <path d="M89.5 41.1L54.9 3c-1.4-1.6-3.9-1.6-5.3 0L15 41c-2.3 2.6 0 6.6 3.4 5.9l21-4.2v50.4c0 2 1.6 3.6 3.6 3.6h18.2c2 0 3.6-1.6 3.6-3.6V42.7l21.5 4.2c3.2.9 5.5-3.3 3.2-5.8z"></path>
              </svg> Tap the bookmark icon up there.</span></div>
          <div class="button-holder">
            <button v-on:click="addToHomescreen = false, sidebarVisible = false"><span>Okay, did that.</span></button>
          </div>
        </div>
      </div>
      <main>
        <div class="inner" v-cloak>
          <div class="tip">
            <h3 class="tip-headline"><span>You are offline</span></h3>
            <div class="tip-text">You're not currently connected to the internet.<br>Figure out what's wrong with your connection and refresh.</div>
          </div>
        </div>
      </main><img class="bug" src="svg/logo-red.svg">
      <div class="image-builder" v-bind:class="{hidden:hideShareImage}">
        <div class="tip" id="CurrentTip">
          <figure v-bind:style="primaryImage">
            <div class="coversheet" v-bind:style="shareCoversheet">&nbsp;</div>
            <h3 class="tip-headline"><span>{{tipLabel}} {{tipNumberFormatted}}</span></h3>
            <figcaption>
              <div class="share-text" v-html="currentTip"></div>
            </figcaption>
            <h4><span class="learnmore">Learn more at </span><span class="url">greatsex.tips</span></h4><img class="logo" src="svg/logo-white.svg">
          </figure>
        </div>
      </div>
      <div class="share" v-bind:class="{visible: shareScreen}">
        <div class="share-screen">
          <div class="inner"> 
            <div id="ShareImageWrapper">
              <!--img(src="https://picsum.photos/900/510")-->
            </div>
            <div class="share-caption"> 
              <p>Download this image and share it with whoever needs to have their sex lives improved.</p>
            </div>
            <div class="button-holder">
              <button class="swap" v-on:click="switchBackground" :disabled="imageLoading"> <span v-if="imageLoading">Hang on...</span><span v-else>Switch Background</span></button>
              <button v-on:click="shareScreen = false">Close </button>
            </div>
          </div>
        </div><a class="close-share" v-on:click="shareScreen = false">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
            <circle class="fill" cx="50.6" cy="49.7" r="42"></circle>
            <path class="outline" d="M50 96C24.6 96 4 75.4 4 50S24.6 4 50 4s46 20.6 46 46-20.6 46-46 46zm0-86.2C27.8 9.8 9.8 27.8 9.8 50s18 40.3 40.2 40.3S90.3 72.2 90.3 50 72.2 9.8 50 9.8z"></path>
            <path class="x" d="M70.3 69c0 1.3-.5 2.4-1.5 3.3-1 .9-2.1 1.4-3.4 1.4-1.3 0-2.4-.6-3.4-1.7L49.6 56.9 37 72.1c-1 1.1-2.1 1.7-3.4 1.7-1.2 0-2.3-.5-3.3-1.4-1-.9-1.5-2.1-1.5-3.3 0-1.1.4-2.1 1.2-3L43.5 50l-13-15.8c-.8-1-1.3-2-1.3-3 0-1.3.5-2.4 1.5-3.3 1-.9 2.1-1.4 3.3-1.4 1.3 0 2.5.6 3.4 1.7l12.1 14.6 12-14.6c1-1.1 2.1-1.7 3.4-1.7 1.2 0 2.3.5 3.3 1.4 1 .9 1.5 2.1 1.5 3.3 0 1.1-.4 2.1-1.2 3l-13 15.6L69 65.9c.9 1 1.3 2 1.3 3.1z"></path>
          </svg></a>
      </div>
    </div>
    <div class="javascripts">
      <script src="js/libraries/vue.min.js"></script>
      <script src="js/libraries/dom-to-image.min.js"></script>
      <script src="js/libraries/file-saver.min.js"></script>
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        
        ga('create', 'UA-15129990-28', 'auto');
        ga('send', 'pageview');
      </script>
      <script src="js/min/tips.min.js?lastUpdated=2017-10-13@17:53:47"></script>
      <script type="text/javascript">
        if ('serviceWorker' in navigator) {
          navigator.serviceWorker.register('/service-worker.js').then(function(registration) {
            // Registration was successful
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
          }).catch(function(err) {
            // registration failed
            console.log('ServiceWorker registration failed: ', err);
          });
        }
      </script>
    </div>
  </body>
</html>