$button-color:$yellow;


body { background-color: #985a5a; }
figure.fullpic { @include position(absolute,0,0,0,0); background-size:cover;
  &.primary { z-index: $z-background-primary; opacity: 0.35; }
  &.secondary { z-index: $z-background-secondary; opacity: 0;
    &.visible { opacity: 0.35; transition:opacity 0.35s ease; }
  }
}


main { @include flex-center(); height: 99vh; position: relative; z-index:$z-main;
  .inner {  width:100%; max-width: 960px; }
  .tip { background: white; padding: 1em; box-shadow: 3px 3px 3px rgba($black,0.5); }
  h1 { text-align: center; font-family:$serif; font-weight: $medium; padding: 0.5em; }
  h3 { font-family:$sans-serif; font-weight: $medium;
    span { background:$red; font-weight: $bold; display: inline-block; padding:0.25em 0.65em; transform: translateX(-50px); color:$white; box-shadow: 2px 2px 1px rgba($black,0.5); }
  }
  .button-holder { text-align: center; padding-top: 1em;
    button { background-color:transparent; color:$button-color; font-family: $serif; font-weight: $bold; border:2px solid currentColor; cursor: pointer; font-size:1.5rem; padding: 0.25em 1em; text-shadow: 1px 1px 0 $black; box-shadow: 1px 1px 0 $black; background-color:rgba($black,0.3);
      &:hover { background: $button-color; color:$black; box-shadow: 3px 3px 0 rgba($black,0.85); }
      &:active { box-shadow: inset 3px 3px rgba($black,0.88); }
    }
  }
}