
<meta charset="utf-8"/>
<title></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="description"/>
<meta http-equiv="last-modified"/>
<link href="https://fonts.googleapis.com/css?family=Sansita|Taviraj:400,700" rel="stylesheet"/>
<link href="css/tips.css?lastUpdated=undefined" rel="stylesheet"/>
<!-- Twitter-->
<meta name="twitter:card" content="summary"/>
<meta name="twitter:creator" content="@AhoyLemon"/>
<meta name="twitter:title"/>
<meta name="twitter:description"/>
<meta name="twitter:image" content="undefined/img/og-image.jpg"/>
<meta name="twitter:url"/>
<!-- OpenGraph-->
<meta property="og:title"/>
<meta property="og:type" content="website"/>
<meta property="og:url"/>
<meta property="og:image" content="undefined/img/og-image.jpg"/>
<meta property="og:image:width" content="600"/>
<meta property="og:image:height" content="600"/>
<meta property="og:description"/>
<meta property="og:email" content="lemon@thefpl.us"/>