- var testing = true
- var siteTitle = "Cosmo Sex Tips"
- var siteURL = ""
- var fPlusURL = ""
- var description = "Halelujah, it's raining dumb men! Amen."
- var d = new Date()
- var lastUpdated = d.getFullYear() + '-' + (d.getMonth()<10?'0':'') + d.getMonth() + '-' + (d.getDate()<10?'0':'') + d.getDate() + '@' + (d.getHours()<10?'0':'') + d.getHours() + ':' + (d.getMinutes()<10?'0':'') + d.getMinutes() + ':' + (d.getSeconds()<10?'0':'') + d.getSeconds()
doctype html
html(lang="en")
  head
    include partials/_head.pug
  body
    #app
      figure.fullpic.secondary(v-bind:style="secondaryImage" v-bind:class="{visible:secondaryImage}")  
      figure.fullpic.primary(v-bind:style="primaryImage")
    
      include partials/_sidebar.pug
      
      main
        .inner(v-cloak)
          .tip
            h3 
              span {{tipLabel}} {{tipNumberFormatted}}
            h1(v-html="currentTip")
          .button-holder
            button(v-on:click="generatePicture") Generate Image
            button(v-on:click="generateSexTip") New Tip
          
          .image-builder#CurrentTip
            figure(v-bind:style="screenshotDiv")
              .coversheet &nbsp;
              h3 
                span {{tipLabel}} {{tipNumberFormatted}}
              h1(v-html="currentTip")
      
    include partials/_javascripts.pug